@import './THEME.scss';

.title {
    font-size: 2.3rem;
    color: $mainColor;
    margin-bottom: 40px;
}

.emptyCard {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    color: rgb(105, 105, 105);
}
.emptyCard_link {
    display: block;
    color: rgb(105, 105, 105);
    margin-top: 20px;
    text-decoration: none;

    &:hover {
        color: $mainColor;
    }
}

.bookContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 50px 20px;
    border-bottom: 2px solid $mainColor;
}
.linkBlock {
    display: flex;
    height: 200px;
    // flex-basis: 70%;
}
.image {
    max-height: 100%;
    max-width: 150px;
}
.info {
    margin-top: 30px;
}
.link {
    display: block;
    color: $mainColor;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-decoration: none;
    letter-spacing: 1.2px;
}
.info_text {
    font-size: 1.1rem;
    letter-spacing: 1.1px;
}

.btns {
    // flex-basis: 30%;
    display: flex;
    flex-direction: column;
}
.numberText {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    margin-bottom: 40px;
    display: block;
}
.ml {
    margin-left: 30px;
}
.numberBtn {
    padding: 10px 15px;
    border: 1px solid $mainColor;
    background: #fff;
    cursor: pointer;
    transition: 0.4s all ease-out;

    &:hover {
        background: lighten($color: $mainColor, $amount: 15);
        color: #fff;
    }
}
.numberBtnLeft {
    border-right: none;
    border-radius: 15px 0 0 15px;
}
.numberBtnRight {
    border-left: none;
    border-radius: 0 15px 15px 0;
}
.number {
    padding: 10px 15px;
    border-top: 1px solid $mainColor;
    border-bottom: 1px solid $mainColor;
    color: $mainColor;
    width: 10px;
    display: inline-block;
}
.priceText {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}
.price {
    font-size: 1.4rem;
    color: $mainColor;
    padding-left: 20px;
}
.remove {
    margin-top: auto;
    border: 1px solid red;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    color: red;
    transition: 0.4s all ease-out;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: red;
    }
}
.removeIcon {
    margin-right: 10px;
    pointer-events: none;
}

.final {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.finalPrice {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}
.finalNumber {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
}
.order {
    display: flex;
    align-items: center;
}
.order_text {
    text-align: center;
    color: #424242;
}
.order_textSuc {
    text-align: center;
    color: $mainColor;
}
.finalBtn {
    border: 1px solid $mainColor;
    padding: 15px 30px;
    color: $mainColor;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.4s all ease-out;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
        color: #fff;
        background-color: $mainColor;
    }
}

@media (max-width: 870px) {
    .bookContainer {
        flex-wrap: wrap;
        padding: 0 0 20px;
    }
}

@media (max-width: 760px) {
    .linkBlock {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .btns {
        flex-basis: 100%;
    }
    .priceText {
        margin-bottom: 10px;
    }
    .numberText {
        margin-bottom: 23px;
    }
}

@media (max-width: 670px) {
    .final {
        flex-wrap: wrap;
    }
    .order {
        flex-basis: 100%;
        margin-top: 20px;
        justify-content: center;
    }
}

@media (max-width: 460px) {
    .linkBlock {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }
    .image {
        flex-basis: 100%;
    }
    .info {
        flex-basis: 100%;
    }
}

@media (max-width: 360px) {
    .numberText {
        line-height: 40px;
    }
    .number {
        display: inline;
    }
}
